<div class="container mt-5">
  <div class="row justify-content-center" id="about">
    <div class="col-8 align-self-center">
      <h1 class="text-center bold">About Page</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor, velit sit amet vestibulum condimentum, urna erat malesuada eros, nec sollicitudin diam sapien sit amet diam. Vestibulum ac metus ornare, semper arcu et, auctor nunc. Duis et urna eu ex pretium semper at ut lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    </div>
  </div>
</div>