<div class="row align-items-center justify-content-center" id="welcome-img">
  <div class="col-6 text-center">
    <h1 class="bold">My Portfolio</h1>
    <p>A collection of projects I've completed to show my understanding of certain technologies</p>
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center bold">Categories</h2>
  <hr>
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 my-3">
      <div class="card mx-auto shadow-lg">
        <%= link_to image_tag("categories/rails.svg", class: "card-img-top"), rails_path %>
        <div class="card-body">
          <h5 class="card-title">Ruby on Rails</h5>
          <%= link_to '<i class="fa fa-eye"></i> View'.html_safe, rails_path, class: "btn btn-info" %>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 my-3">
      <div class="card mx-auto shadow-lg">
       <%= link_to image_tag("categories/javascript.svg", class: "card-img-top"), javascript_path %>
        <div class="card-body">
          <h5 class="card-title">Javascript</h5>
          <%= link_to '<i class="fa fa-eye"></i> View'.html_safe, javascript_path, class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
</div>