<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center bold mb-0">Basic Calculator</h1>
      <div class="text-center">
        <span class="badge javascript">Javascript</span>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12 p-0 shadow-lg rounded">
      <%= image_tag("basicCalculator/preview.png", class: "img-fluid project-preview rounded border") %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-12 mt-5">
      <h2 class="text-center bold">Features <i class="fa fa-list"></i></h2>
      <ul class="list-group shadow-lg text-center">
        <li class="list-group-item"><h5>Basic mathmatical operations</h5></li>
      </ul>
    </div>
    <div class="col-lg-6 col-12 mt-5">
      <h2 class="text-center bold">Links <i class="fa fa-link fa-"></i></h2>
      <ul class="list-group shadow-lg text-center">
        <li class="list-group-item"><h5><%= link_to "Github Repository", "https://github.com/cyoung-sudo/BasicCalculator", target: :_blank %></h5></li>
      </ul>
    </div>
  </div>
</div>