@import 'bootstrap/dist/css/bootstrap';

footer {
	bottom: 0;
	height: 200px;
	margin-top: 50px;
}

footer .container {
	padding: 20px 10px;
}

#welcome {
	background-image: url("test.jpeg");
	background-size: cover;
	height: 500px;
}

#welcome .container {
	color: white;
	padding: 100px 100px;
	text-align: center;
}

#project-list {
	padding: 50px 50px;
}

#tech-info {
	margin: 10px;
}

#rails {
	background-color: #c20e0e;
}

#bootstrap {
	background-color: #6f32a8;
}

#content {
	min-height: 500px;
}

.card {
	width: 18rem;
}

.badge {
	color: white;
}