@import 'bootstrap/dist/css/bootstrap';

footer {
	bottom: 0;
	height: 200px;
}

.card {
	width: 16rem;
}

.rails {
	color: white;
	background-color: #c20e0e;
}

.bootstrap {
	color: white;
	background-color: #6f32a8;
}

.project-preview {
	max-width: 100%;
	height: auto;
}

#welcome-img {
	background-image: url("test.jpeg");
	background-size: cover;
	height: 500px;
	color: white;
}