@import 'bootstrap/dist/css/bootstrap';

body {
	font-family: 'Roboto';
}

footer {
	bottom: 0;
	height: 200px;
}

.bold {
	font-weight: 700;
}

.light {
	font-weight: 300;
}

.card {
	width: 16rem;
}

.rails {
	color: white;
	background-color: #c20e0e;
}

.bootstrap {
	color: white;
	background-color: #6f32a8;
}

.materialize {
	color: white;
	background-color: #e66a9d;
}

.project-preview {
	max-width: 100%;
	height: auto;
}

.footer-icon {
	color: black;
}

.card-body {
	background-color: ghostwhite;
}

#welcome-img {
	background-image: url("test.jpeg");
	background-size: cover;
	height: 500px;
	color: white;
}

#about {
	min-height: 500px;
}