<footer class="footer bg-dark mt-5">
  <div class="container pt-5">
    <div class="row justify-content-center">
      <%= link_to '<i class="fa fa-github fa-3x"></i>'.html_safe, "https://github.com/cyoung-sudo", class: "footer-icon", target: :_blank %>
    </div>
  </div>
</footer>