<footer class="footer bg-light mt-5">
  <div class="container px-2 py-4">
    <div class="row">
      <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor, velit sit amet vestibulum condimentum, urna erat malesuada eros, nec sollicitudin diam sapien sit amet diam. Vestibulum ac metus ornare, semper arcu et, auctor nunc. Duis et urna eu ex pretium semper at ut lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    </div>
    <div class="row justify-content-center">
      <%= link_to '<i class="fa fa-github fa-3x"></i>'.html_safe, "https://github.com/cyoung-sudo", class: "footer-icon", target: :_blank %>
    </div>
  </div>
</footer>